<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <p>
        <a href="/">Back to Appartments List</a>
      </p>
      <h1>Appartment Details</h1>

      <ul>
        <li>Address: {{ appartment.address }}</li>
        <li>Floor Level: {{ appartment.floor_level }}</li>
        <li>No. of Bedrooms: {{ appartment.number_of_bedrooms }}</li>
        <li>No. of Bathrooms: {{ appartment.number_of_bathrooms }}</li>
        <li>
          Have Garage: {{ "Yes" if appartment.does_have_garage else "No" }}
        </li>
      </ul>

      {% if owner %}
      <h2>Owner Contact Details</h2>
      <p>Name: {{ owner.name }}</p>
      <p>Email: {{ owner.email }}</p>
      <p>Phone: {{ owner.phone }}</p>
      {% else %}
      <h2>No Owner Details Available</h2>
      <p>
        <a href="/appartments/{{ appartment.id }}/add-owner"
          >Add Owner Details</a
        >
      </p>
      {% endif %}

      <h2>Rent History</h2>
      <table class="table">
        <thead>
          <tr>
            <th>From Date</th>
            <th>To Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for rent in rent_history %}
          <tr>
            <td>{{ rent.from_date }}</td>
            <td>{{ rent.to_date }}</td>
            <td>{{ rent.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
